.tipBarIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;

    max-width: 16.875rem;
    max-height: 13.125rem;

    &--image {
        img {
            width: 100px;
            height: 100px;
        }
    }

    &--text {
        font-weight: 700;
        color: #fff;
    }
}