.tipBarIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    max-width: 100%;
    max-height: 100%;

    @media (min-width: 768px) and (max-width: 1024px) {
        gap: .6rem;
    }

    @media (min-width: 1024px) {
        gap: 1.875rem;
        max-width: 16.875rem;
        max-height: 13.125rem;
    }

    &--image {
        img {
            width: 40px;
            height: 40px;

            @media (min-width: 768px) and (max-width: 1024px) {
                width: 30px;
                height: 30px;
            }

            @media (min-width: 1024px) {
                width: 100px;
                height: 100px;
            }
        }
    }

    &--text {
        font-weight: 700;
        color: #fff;
        word-wrap: break-word;
        text-align: center;
    }
}