.pageTitle {
    position: absolute;
    left: 50%;
    top: 9.7rem;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    h1 {
        font-weight: 900;
        font-size: 8.75rem;
        margin-bottom: 1.7rem;
    }

    h2 {
        font-weight: 600;
        font-size: 2.5rem;

        span {
            display: block;
            font-weight: 900;
        }
    }
}