* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.plainText {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 1rem 4rem;

    @media (min-width: 1024px) {
        padding: 6.25rem 18.75rem;
    }

    &.blackBg {
        background-color: #222222;
        color: #FFFFFF;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 10px;

        @media (min-width: 1024px) {
            font-size: 3.125rem;
            margin-bottom: 30px;
        }
    }

    p {
        font-size: 0.8rem;

        @media (min-width: 1024px) {
            font-size: 1.625rem;
        }

        ~ p {
            margin-top: 16px;

            @media (min-width: 1024px) {
                margin-top: 75px;
            }
        }
    }
}