.contentSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 35px 25px;

    @media (min-width: 1024px) {
        flex-direction: row;
        padding: 0 70px 50px;

        &.right {
            flex-direction: row-reverse;
        }

        &.center {
            flex-direction: column;
            margin-top: 50px;
        }
    }

    

    .textContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        max-width: 100%;

        @media (min-width: 1024px) {
            max-width: 37.5rem;
        }

        h3 {
            font-size: 1.5rem;

            @media (min-width: 1024px) {
                font-size: 3.125rem;
            }
        }

        h4 {
            font-size: 1rem;
            font-weight: 500;

            @media (min-width: 1024px) {
                font-size: 2.25rem;
            }
        }

        p {
            margin-top: 1.5rem;
            font-size: .8rem;

            @media (min-width: 1024px) {
                margin-top: 3.125rem;
                font-size: 1.625rem;
            }
        }
    }

    .imageContent {
        img {
            max-width: 100%;
            margin-top: 1rem;

            @media (min-width: 1024px) {
                max-width: 700px;
                margin-top: 0;
            }
        }
    }

}