.tipBar {
    background-color: #222222;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 3rem 0;

    @media (min-width: 768px) and (max-width: 1024px) {
        flex-direction: row;
        gap: 2rem;

        padding: 3rem 0;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        gap: 4rem;

        padding: 6.5rem 0;
    }
}